DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=my_database
SESSION_SECRET=cambia_esto
SESSION_TTL_MS=7200000
REMEMBER_SESSION_TTL_MS=2592000000
HASH_SECRET=cambia_esto_tambien
NODE_ENV=development
PORT=3000

APPOINTMENTS_BUSINESS_NAME=SaleySpa
APPOINTMENTS_BUSINESS_ADDRESS=Calle 123 #45-67, Bogota, Colombia
APPOINTMENTS_CALENDAR_EMAIL=tucorreo@gmail.com

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://developers.google.com/oauthplayground
GOOGLE_REFRESH_TOKEN=
GOOGLE_CALENDAR_ID=primary
